body {
    background-color: lightgray;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 80%;
}

.profile-pic {
    border-radius: 50%;
}

.game-image {
    width:700px;
}

img.centered {
    width: 100px;
}

.centered {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.left-column {
    background-color: darkgrey;
    margin: 0;
}

.sidebar{
    width:20%;
    position:fixed;
}

.right-column {
    margin-left: 30px;
}

.sticky {
    position: sticky;
}

.working-image {
    width: 700px;
}