body {
    background-color: lightgray;
    margin: 0;
}

.profile-pic {
    border-radius: 50%;
    width:50px;
}

.centered {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.header {
    background-color: darkgrey;
    margin: 0;
}